html, body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  margin: 0;
}
a, a * {
  text-decoration: none;
}
html, body, #root {
  width: fit-content;
}
.box {
  display: flex;
  border-radius: 5px;
  width: 440px;
  height: 150px;
  background-color: #000;
  color: #FFF;
}
.section {
  border-radius: 5px;
  flex: 1 1 auto;
  padding: 8px 14px;
}